<h1>Log In</h1>

<p>Welcome Back!  Please log in:</p>
<form action="/login" method="post">
  <label>Email</label>
  <input name="email" type="email" placeholder="Email">
  <br><br>
  <label>Password</label>
  <input name="password" type="password" placeholder="Password">
  <br><br>
  <button>Login</button>
</form>
