<h1>Wyn App</h1>
<form action="/users" method="post">
  <label>First Name</label>
  <input name="first_name" type="text" placeholder="First Name">
  <br>
  <br>
  <label>Last Name</label>
  <input name="last_name" type="text" placeholder="Last Name">
<br>
<br>
  <label>Email</label>
  <input name="email" type="email" placeholder="Email">
<br>
<br>
  <label>Password</label>
  <input name="password" type="password" placeholder="Password">
<br>
<br>
  <label>Password Confirmation</label>
  <input name="password_confirmation" type="password" placeholder="Password Confirmation">
<br>
<br>
  <button>Sign Up</button><%= link_to '<button>Login</button>'.html_safe, login_path %>
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<p>This is a paragraph about the site and some basic info.  To be populated at a later date</p>


