<h1>Create New Post</h1>
<form action="/login" method="post">
  <label>Title</label>
  <input name="title" type="text" placeholder="Title">
  <br><br>
  <label>Content</label>
  <input name="content" type="text" placeholder="Content">
  <br><br>
  <button>Upload Image</button>
  <button>Post</button>
</form>
