<h1>Good to see you again, <%= @user.first_name %></h1>

<p>Here is the last wine you drank:</p>

<h1>Create New Post</h1>
<form action="/login" method="post">
  <label>Title</label>
  <input name="title" type="text" placeholder="Title">
  <br><br>
  <label>Content</label>
  <input name="content" type="text" placeholder="Content">
  <br><br>
  <button>Upload Image</button>
  <button>Post</button>
</form>

<%= link_to 'Log Out', logout_path, method: :delete %>
